flask/storeApp_V2/venv
flask/storeApp_V3/venv
flask/storeApp_V4/venv
flask/userApp_V1/venv
flask/userApp_V2/venv

flask/userApp_V1/userApp/.env
flask/userApp_V2/userApp/.env

numpy/.ipynb_checkpoints
pandas/.ipynb_checkpoints