<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="{{url_for('static', filename='confirmation_page.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <div class="container-fluid">
    <div class="jumbotron text-center full-height">
      <h1>Error</h1>
      <p><em>{{message}}</em></p>
    </div>

    <footer class="text-center">
      <hr>
      <p>------------------</p>
    </footer>
  </div>

</body>
</html>